.button {
  border: 1px solid indigo;
  background-color: #428bca;
  font-size: large;
  margin: 10px 10px 10px 10px;
  color: white;
  border-radius: 8px;
  width: 8rem;
  height: 2rem;
  cursor: pointer;
}
.button:hover {
  background-color: blue;
}
.input-percentage {
  width: 5rem;
  height: 2rem;
  margin-left: 3.4rem;
}
.buruh-name, .input-percentage {
  margin-top: .5rem;
}
.container {
  margin: 1rem 0rem 0rem 1rem;
  border: 3px solid #428bca;
  width: max-content;
  padding: 1rem
}
.pembayaran-style {
  height: 2rem;
  margin-top: .5rem;
}
.pembayaran-result {
  height: 2rem;
  margin-top: .5rem;
  margin-left: 3.4rem;
}